body {
    background-image: url('https://img.freepik.com/free-photo/colorful-sky-after-sunset_661209-461.jpg?t=st=1702299160~exp=1702299760~hmac=5056fdd97d92e8125f7563be55dc0f044b64bdc55f1056b1a1c19be191278a54');
    background-repeat: no-repeat;
    background-size: cover;
  }