body {
    background-image: url('https://img.freepik.com/free-photo/beautiful-dusk-light-colorful-beauty_1203-5706.jpg?w=996&t=st=1702225632~exp=1702226232~hmac=e5b41b0aa9c22921cd042729733657b6a0396ed276cb9921c2b3d441abe94e53');
    background-repeat: no-repeat;
    background-size: cover;
  }