body {
    background-image: url('https://img.freepik.com/free-photo/twilight-cloud_1203-6585.jpg?t=st=1702238264~exp=1702238864~hmac=187b0e399bd9c3a31a0a272dc7e971e766247dd3f07fce8d878d5cf0fb50b702');
    background-repeat: no-repeat;
    background-size: cover;
  }